.header span {
  color: #7611a6;
  font-weight: 600;
}

.search-input {
  width: 38rem;
  height: 3rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: white;
  padding-left: 1.9rem;
  margin-left: 1.9rem;
}

.search-input::placeholder {
  color: #999;
}

.generate-btn {
  cursor: pointer;
}

.loading-bar {
  width:0rem;
  height:0.5rem;
  background-color: #7611a6;
}

.loading-text {
  font-size: 1.1rem;
}

.loading-bar-full {
  width: 35rem;
  height: 0.5rem;
  background-color: #7611a6;
  transition: 15s;
}

.display-none {
  display: none;
}
